body{
    margin: 0px;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
h1{
    text-align: center; 
    margin-bottom: 10%;
}
.chicken, .beef, .sushi{
    width: 30%;
    border: 1px solid black;
    margin: 15px;
    background-color: grey;
    box-sizing: border-box;
}
.chicken h3{
    width: 100px;
    height: 25px;
    border: 1px solid black;
    background-color: pink;
    text-align: center;
}
.beef h3{
    width: 100px;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(252, 70, 70);
    text-align: center;
    color: white;
}
.sushi h3{
    width: 100px;
    height: 25px;
    border: 1px solid black;
    background-color: rgb(255, 247, 133);
    text-align: center;
}
h3{
margin: 0px;
margin-left: auto;
}
p{
    padding: 10px;
    margin: 0px;
}
@media screen and (max-width: 991px){
.chicken, .beef{
    width: calc(45% - 15px);
}
.sushi{
    width: 90%;
}  
}
@media screen and (max-width: 767px){
    .chicken, .beef, .sushi{
        width: 90%;
    }
}
